<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gzp.statisticssdk">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <activity
            android:name="com.taihaoli.statisticssdk.utils.permission.PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>
</manifest>
